<ion-header no-border>
  <ion-toolbar no-border>
    <ion-title>MY ADS</ion-title>
  </ion-toolbar>

  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="segment" no-border>
      <ion-segment-button value="ads">
        <strong> ADS </strong>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <strong> FAVOURITES </strong>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="segment == 'ads'">
    <ion-item lines="none">
      <ion-label> <strong> View All ( 2 ) <ion-icon slot="icon-only" style="font-size: 18px;" name="ios-arrow-down">
          </ion-icon> </strong>
      </ion-label>
    </ion-item>
    <ion-card no-border>
      <div class="card-main">
        <span class="border-redius"></span>
        <ion-card-header style="padding: 7px; background-color: #ebeeef;" no-padding>
          <ion-card-subtitle>
            <span style="font-size: 11px; padding-left: 12px;"> FROM <strong> Aug 21, 19 </strong> TO <strong> Sep 20,
                19 </strong> </span>
            <span style="float: right">
              <ion-buttons slot="end" (click)="presentPopover( $event )" color="primary">
                <ion-icon slot="icon-only" name="ios-more"></ion-icon>
              </ion-buttons>
            </span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content no-padding>
          <div class="card-content">
            <div class="card-t1">
              <div class="card-t2">
                <div class="card-t3">
                  <img class="img-size"
                    src="https://apollo-singapore.akamaized.net:443/v1/files/kieiaszlgi5w1-IN/image;s=300x0" alt="">
                </div>
              </div>
              <div class="card-p1">
                <div class="card-p2">
                  <div class="card-p3">
                    <span class="card-p4">Apple IPad</span></div>
                  <span class="card-p5">₹ 35,000</span>
                </div>
              </div>
            </div>
            <div class="margin-8">
              <div class="card-d1">
                <div class="card-d2">
                  <ion-buttons slot="end">
                    <ion-icon slot="icon-only" style="font-size: 20px;" name="eye" small></ion-icon>
                  </ion-buttons>
                  <span class="card-d3">Views:</span><span>0</span>
                </div>
                <div class="card-d2" data-aut-id="like-stat">
                  <ion-buttons slot="end">
                    <ion-icon slot="icon-only" style="font-size: 20px;" name="heart" small></ion-icon>
                  </ion-buttons>
                  <span class="card-d3">Likes:</span><span>0</span>
                </div>
              </div>
            </div>
            <div class="foot-1">
              <div class="foot-2"><label class="foot-3 foot-4">Active</label></div>
              <div class="foot-5">
                <div class="foot-6"><span>This ad is currently live</span></div>
              </div>
              <div class="foot-7">
                <button type="button" class="foot-8 foot-9 foot-10"><span>Sell Faster Now</span></button></div>
            </div>
          </div>
        </ion-card-content>
      </div>
    </ion-card>

  </div>

  <div *ngIf="segment == 'favorites'" padding>
    <ion-row>
      <ion-col width-50>
        <ion-card no-border class="product-card">

          <label class="featured"><span>Featured</span></label>

          <img src="assets/img/products/p2.jpg" alt="">

          <div class="heart-btn">
            <ion-buttons>
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-buttons>
          </div>

          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card class="product-card" no-border>
          <img src="assets/img/products/p4.jpg" alt="">

          <div class="heart-btn">
            <ion-buttons>
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-buttons>
          </div>
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span> 2 days</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
