<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="ios-pin"></ion-icon> India
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" no-border>
    <ion-searchbar no-border placeholder="Find Cars, Mobile Phone and more..." class="searchbar-input"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list lines="none">
      <ion-item>
        <ion-icon slot="end" name="options"></ion-icon>
        <ion-label class="head-label">Fresh recommendations</ion-label>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p2.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p4.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span> 2 days</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p3.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p2.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p3.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p2.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card no-border>
          <img src="assets/img/products/p3.jpg" alt="">
          <ion-card-content no-padding>
            <div class="item-details">
              <span class="item-price"> {{ 1200 | currency:'INR':true:'1.2-2'}} </span>
              <span class="item-title">Vivo y 55l h</span>
              <div class="item-location-flex">
                <span class="item-location">Samudrapur</span>
                <span class="item-time-line">
                  <span>Today</span>
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
